<!doctype html>
<html lang="en">
<head>
    <title>ScoreBored</title>
    <meta charset="utf-8">
</head>

<body>
    <div style="text-align:center">
        <h1>ScoreBored Login</h1>
        <form method="POST" action="https://sports-nineage.c9users.io/edit">
            <input name="password" placeholder="password" value="" type="password">
            <input value="Submit" type="submit"></input>
        </form>
    </div>
</body>
</html>